apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: private-dump-monthly
  namespace: backups-production
spec:
  schedule: "21 18 1 * *"
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            name: private-dump
        spec:
          automountServiceAccountToken: false
          restartPolicy: Never
          containers:
          - name: private-dump
            image: quay.io/rubygems/rubygems.org-db-backups:latest
            imagePullPolicy: Always
            args: ["script/backup_db.sh"]
            env:
              - name: CRON_FREQ
                value: "monthly"
              - name: AWS_ACCESS_KEY
                valueFrom:
                  secretKeyRef:
                    name: production
                    key: aws_access_key_id
              - name: AWS_SECRET_KEY
                valueFrom:
                  secretKeyRef:
                    name: production
                    key: aws_secret_access_key
              - name: POSTGRESQL_DB
                valueFrom:
                  secretKeyRef:
                    name: production
                    key: database_name
              - name: POSTGRESQL_HOST
                valueFrom:
                  secretKeyRef:
                    name: production
                    key: database_host
              - name: POSTGRESQL_USER
                valueFrom:
                  secretKeyRef:
                    name: production
                    key: database_user
              - name: POSTGRESQL_PASSWORD
                valueFrom:
                  secretKeyRef:
                    name: production
                    key: database_password
              - name: SLACK_WEBHOOK_URL
                valueFrom:
                  secretKeyRef:
                    name: production
                    key: slack_webhook_url
              - name: ENC_PASSWORD
                valueFrom:
                  secretKeyRef:
                    name: private-dump-enc
                    key: pass
